h1 {
  font-size: 2.4em;
}

h2.title {
  margin-bottom: 10px;
}

.header-avatar {
  width: 40px;
  height: 40px;
}

.chat-tanuki {
  display: flex;
  margin: 0 0 12px;
  img {
    pointer-events: none;
    width: 75px;
    height: 75px;
    z-index: 2;
  }

  .chat-tanuki-content {
    position: relative;
    margin: 0 0 0 12px;
    background-color: #fff;
    padding: 0 12px;
    align-items: center;
    display: flex;
    border-radius: 8px;
    z-index: 2;
  }

  .chat-tanuki-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -16px; /* 三角形部分が縁にかぶらないように微調整 */
    border-width: 16px; /* 三角形部分のサイズより大きな縁を指定 */
    border-style: solid;
    border-color: transparent #fff transparent transparent; /* 三角形部分の縁の色を指定 */
    z-index: 1;
  }
}
