<div class="space-50"></div>
<div class="section">
  <div class="container">
    <h1 class="title text-center">
      <small>\ 誤字脱字や句読点のチェックに /</small><br />修正さん
    </h1>
    <div class="row">
      <div class="col-md-7 ml-auto mr-auto">
        <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">{{ error.detail }}</p>
        </div>

        <form
          class="settings-form"
          #textForm="ngForm"
          (ngSubmit)="sendText(textForm)"
        >
          <div class="form-group">
            <h3 class="title">修正してほしい文章</h3>
            <textarea
              type="text"
              class="form-control textarea-limited"
              placeholder="修正してほしい文章を入力して下さい"
              [(ngModel)]="text"
              name="text"
              rows="10"
              maxlength="300"
            ></textarea>
            <span id="textarea-limited-message" class="description pull-right">
              <div *ngIf="!text">残文字数 300</div>
              <div *ngIf="text">残文字数 {{ 300 - text.length }}</div>
            </span>
          </div>

          <div class="space-top"></div>
          <div *ngIf="clicks < 3" class="text-center">
            <h4 class="description">
              本日はあと{{ 3 - clicks }}回無料で修正できます
            </h4>
            <button
              [disabled]="!(text && !isClicked)"
              type="submit"
              class="btn btn-success btn-lg btn-wd"
              (click)="onClick()"
            >
              <i class="nc-icon nc-button-play"></i>&nbsp;修正スタート
            </button>
            <a [routerLink]="['/plan']" class="btn btn-link btn-success btn-lg">
              広告非表示で回数も気にせず使いたい方
            </a>
          </div>
          <div *ngIf="count > 3" class="text-center">
            <h4 class="description">
              本日はあと{{ 30 - count }}回修正できます
            </h4>
            <button
              [disabled]="!(text && !isClicked)"
              type="submit"
              class="btn btn-success btn-lg btn-wd"
            >
              <i class="nc-icon nc-button-play"></i>&nbsp;修正スタート
            </button>
            <a [routerLink]="['/plan']" class="btn btn-link btn-success btn-lg">
              修正回数をもっと増やしたい方はこちら
            </a>
          </div>
        </form>
        <div *ngIf="clicks === 3" class="text-center">
          <h4 class="description">本日の無料修正回数を使い切りました</h4>
          <a [routerLink]="['/plan']" class="btn btn-success btn-lg btn-wd">
            <i class="nc-icon nc-button-play"></i>&nbsp;プランを変更する
          </a>
        </div>

        <div class="space-top"></div>
        <div class="form-group">
          <h3 class="title">修正された文章</h3>
          <textarea
            type="text"
            class="form-control textarea-limited"
            placeholder="修正された文章"
            [(ngModel)]="result"
            name="result"
            rows="10"
          ></textarea>
        </div>
        <div class="space-top"></div>
        <div class="text-center">
          <button
            *ngIf="!isCopied"
            class="btn btn-success btn-lg btn-wd"
            (click)="copyResult(); isCopied = true"
          >
            修正された文章<br />をコピーする
          </button>
          <button
            *ngIf="isCopied"
            class="btn btn-outline-success btn-lg btn-wd"
            (click)="copyResult()"
          >
            コピーしました！
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="space-50"></div>
  <div class="text-center">
    <h4 class="description">修正さんを他の人にも教えてあげてね</h4>
    <button class="btn btn-round btn-twitter mr-1" (click)="shareTwitter()">
      <i class="fa fa-twitter fa-lg"></i> Twitterで友達に教える
    </button>
    <button class="btn btn-round btn-facebook">
      <i class="fa fa-facebook-square fa-lg"></i> Facebookで友達に教える
    </button>
  </div>
</div>
