<div class="wrapper">
  <div
    class="page-header page-header-xs"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">利用規約</h1>
        <h5 class="description">Terms and Conditions</h5>
      </div>
    </div>
  </div>
  <div class="section section-nude">
    <div class="container">
      <app-terms-text></app-terms-text>
    </div>
  </div>
</div>
