<div
  class="page-header"
  style="background-image: url('./assets/img/bg/tressure-map.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <div *ngIf="errors.length > 0" class="alert alert-danger">
              <p *ngFor="let error of errors">{{ error.detail }}</p>
            </div>
            <h3 class="card-title">パスワードリセット</h3>
            <div class="card-description">
              ご登録メールアドレス宛てにパスワードリセットメールを送信します
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="sendPasswordResetLink()">
              <div
                class="input-group form-group-no-border"
                [ngClass]="{ 'input-group-focus': focus === true }"
              >
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Email"
                  (focus)="focus = true"
                  (blur)="focus = false"
                  required
                />
              </div>
              <div class="space-top"></div>
              <button
                [disabled]="!loginForm.valid || isClicked"
                type="submit"
                class="btn btn-primary btn-block btn-round"
              >
                パスワードリセット
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
