<div class="section section-gray">
  <div class="container text-center">
    <h1 class="title">\ 修正さんに簡単にアクセスするには /</h1>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>
          「修正さん、また使いたいな」<br />
          「文章チェックをしたい時は修正さんを使おう」
        </h2>
        <p>そう思っていただけたら嬉しいです。</p>
        <div class="space-top"></div>
        <p>
          しかし、いざ使おうと思っても<br />
          「検索から探すのは面倒だな」<br />
          「出てこないから諦めよう」<br />
        </p>
        <p>
          とならないために、<span class="text-success"
            >ホーム画面に追加していつでも使える</span
          >ようにしましょう！
        </p>
        <div class="space-top"></div>
        <p>
          ホーム画面に追加する方法がわからない方は下のリンクから解決できます。
        </p>
        <a
          href="https://curio-shiki.com/blog/smartphone/shortcut-on-home"
          target="_blank"
          class="btn btn-lg btn-link btn-success"
          >サイトをホーム画面に追加する方法を見る</a
        >
      </div>
    </div>
    <div class="space-top"></div>
    <p>\ 早速ホーム画面に追加しよう /</p>
    <a [routerLink]="['/']" class="btn btn-wd btn-success">TOPページへ行く</a>
  </div>
</div>
