<div class="wrapper">
  <div
    class="page-header page-header-xs"
    [ngStyle]="{
      'background-image': 'url(assets/img/bg/tressure-map.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">{{ title }}</h1>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <app-blog-chat
            [character]="2"
            [message]="
              'ChatGPTを使ってみたいけど、使い方がわからない人のためのガイダンスだよ'
            "
          ></app-blog-chat>
          <app-blog-chat
            [character]="3"
            [message]="'手順通りに進めてChatGPTを使ってみよう'"
          ></app-blog-chat>

          <div class="space-top"></div>
          <h2>ChatGPTってそもそも何？</h2>
          <p>
            ChatGPTは対話型AIシステムです。自然な会話が可能であり、様々な質問に詳細な回答を生成できます。
          </p>
          <div class="space-top"></div>
          <h2>ChatGPTは何がすごい？</h2>
          <p>
            ChatGPTは人間に非常に近い知的な存在で、まるで賢い人間と対話しているかのように感じられるほど会話が自然で、知識も豊富なのがすごい点です。
          </p>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <app-blog-chat
            [character]="2"
            [message]="'ここからはChatGPTを使う手順を紹介するよ'"
          ></app-blog-chat>
          <h2>
            <small>ステップ 1</small><br /><a
              href="https://openai.com/"
              class="text-success"
              >ChatGPT公式サイト</a
            >に会員登録する
          </h2>
          <p>
            <a href="https://openai.com/" class="text-success">
              ChatGPT公式サイト</a
            >右上のLog in → サインアップ
            からメールアドレスを登録してアカウントを作成します。
          </p>
          <div class="card card-plain">
            <div class="card-img-top">
              <a href="https://openai.com/">
                <img
                  class="img"
                  src="./assets/img/tutorial/how-to-use-chatgpt/step1.jpg"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="col-md-8 ml-auto mr-auto">
          <h2>
            <small>ステップ 2 </small><br />
            <a href="https://chat.openai.com/" class="text-success">ChatGPT</a
            >に質問する
          </h2>
          <p>
            早速質問をしてみましょう。<br />
            先に「修正さん」で選んだプロンプトをコピーしてChatGPTにペーストしてから使うことで格段に返答精度を高めることができます。
          </p>
          <div class="card card-plain">
            <div class="card-img-top">
              <a href="https://chat.openai.com/">
                <img
                  class="img"
                  src="./assets/img/tutorial/how-to-use-chatgpt/step2.jpg"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="!auth.isAuthenticated()">
        <div class="space-50"></div>
        <p>\ 今すぐ無料会員登録してプロンプトをGet! /</p>
        <a [routerLink]="['/register']" class="btn btn-round btn-wd btn-primary"
          >無料会員登録する</a
        >
      </div>
      <div class="text-center" *ngIf="auth.isAuthenticated()">
        <div class="space-50"></div>
        <p>\ 修正さんの使い方はこちら /</p>
        <a
          [routerLink]="['/blog/tutorial']"
          class="btn btn-round btn-wd btn-primary"
          >初めての使い方ガイド</a
        >
      </div>
    </div>
  </div>
</div>
