<div class="section section-gray">
  <div class="container text-center">
    <h1 class="title">\ 初めての使い方ガイド /</h1>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2>
          <small>ステップ 1</small><br />
          気になる文章を入力する
        </h2>
        <p>気になる文章を「修正してほしい文章」に入力します。</p>
        <div class="card card-plain">
          <div class="card-img-top">
            <img class="img" src="./assets/img/tutorial/step1.jpg" />
          </div>
        </div>
      </div>
      <div class="col-md-8 ml-auto mr-auto">
        <h2>
          <small>ステップ 2</small><br />
          修正する
        </h2>
        <p>
          「修正スタート」を押すと１分以内に修正された文章が出来上がります。
        </p>
        <br />

        <div class="card card-plain">
          <div class="card-img-top">
            <img class="img" src="./assets/img/tutorial/step2.jpg" />
          </div>
        </div>
      </div>
      <div class="col-md-8 ml-auto mr-auto">
        <h2>
          <small>ステップ 3</small><br />
          ボタンを押してコピーする
        </h2>
        <p>「修正された文章を押してコピーする」を押してコピーします。</p>
        <br />

        <div class="card card-plain">
          <div class="card-img-top">
            <img class="img" src="./assets/img/tutorial/step3.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="space-50"></div>
    <p>\ さっそく誤字脱字を修正しよう /</p>
    <a [routerLink]="['/']" class="btn btn-wd btn-success">修正しに行く</a>
  </div>
</div>
