<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-xs"
    [ngStyle]="{
      'background-image': 'url(assets/img/thumbnail/' + 12 + '.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">{{ title }}</h1>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <app-blog-chat
            [character]="2"
            [message]="
              '最近仕事つまらないなぁ...自分って本当はどんな仕事が向いてるんだろう...'
            "
          ></app-blog-chat>
          <app-blog-chat
            [character]="6"
            [message]="'毎日がマンネリで退屈...私って何が好きなんだっけ...'"
          ></app-blog-chat>

          <div class="space-top"></div>
          <p>
            以前は充実していたのにいつの間にか楽しみを忘れていると感じていませんか？<br />
            自分は何に心が躍るのか、楽しいと感じるのか、一度立ち止まって改めて考えてみるのもいいかもしれません。
          </p>
          <div class="space-top"></div>
          <p>
            そんな時に<span class="text-primary">ChatGPTのプロンプト</span
            >を使うことで、あなたの<span class="text-primary"
              >奥底に眠っている姿を引き出し</span
            >やすくなります。<br />
            自分の考えとは違う視点から意見をくれるので、本来の自分への自己理解が深まります。
          </p>
          <br />
          <p>
            手順は簡単！このカードを押してそのプロンプト（指令文）をコピー、利用手順通りにChatGPTに送信するだけです。
          </p>
          <div class="row">
            <div class="col-11 col-sm-10 col-md-9 col-xl-7 ml-auto mr-auto">
              <div class="space-top"></div>
              <app-list-card [prompt]="prompt"></app-list-card>
            </div>
          </div>
          <br />
          <p>このタイミングで一度自分を見つめ直してみてはいかがでしょう？</p>
        </div>
      </div>
      <div class="text-center" *ngIf="!auth.isAuthenticated()">
        <div class="space-50"></div>
        <p>\ 今すぐ無料会員登録してプロンプトをGet! /</p>
        <a [routerLink]="['/register']" class="btn btn-round btn-wd btn-primary"
          >無料会員登録する</a
        >
      </div>
    </div>
  </div>
</div>
