<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-header">
        <a class="navbar-brand logo" [routerLink]="['/']">
          <img src="assets/img/logo/logo.svg" alt="..." />
        </a>
      </div>

      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!auth.isAuthenticated()">
          <li class="nav-item clickable">
            <a class="nav-link" [routerLink]="['/tutorial']"
              ><i class="nc-icon x2 nc-alert-circle-i"></i>&nbsp;
              修正さんの使い方ガイド</a
            >
          </li>
          <li class="nav-item clickable">
            <a class="nav-link" [routerLink]="['/how-to-add-to-homescreen']"
              ><i class="nc-icon x2 nc-mobile"></i>&nbsp;
              ホーム画面に追加する方法</a
            >
          </li>

          <li class="nav-item">
            <button class="btn btn-success" (click)="modalLoginOpen()">
              <i class="nc-icon nc-lock-circle-open"></i>&nbsp; ログインする
            </button>
          </li>
        </ng-container>
        <ng-container *ngIf="auth.isAuthenticated()">
          <li class="nav-item clickable">
            <a class="nav-link" [routerLink]="['/']"
              ><i class="nc-icon x2 nc-check-2"></i>&nbsp;
              修正しに行く（トップへ）</a
            >
          </li>
          <li class="nav-item clickable">
            <a class="nav-link" [routerLink]="['/user']"
              ><i class="nc-icon x2 nc-circle-10"></i>&nbsp; マイページ</a
            >
          </li>
          <!-- <li class="nav-item clickable">
            <a class="nav-link" [routerLink]="['/user/settings']"
              ><i class="nc-icon x2 nc-circle-10"></i>&nbsp; アカウント設定</a
            >
          </li> -->
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
