<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-top"></div>
        <h1 class="title">アカウント設定</h1>
        <h5 class="description">Account Settings</h5>
      </div>
    </div>
  </div>
  <div class="profile-content section section-nude">
    <div class="container" *ngIf="userData">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
            <p *ngFor="let error of errors">{{ error.detail }}</p>
          </div>
          <form
            class="settings-form"
            #userForm="ngForm"
            (ngSubmit)="updateUser(userForm)"
          >
            <div class="form-group">
              <label>名前 <span class="icon-danger">*</span></label>
              <input
                type="text"
                class="form-control border-input"
                placeholder="あなたの名前（必須）"
                [(ngModel)]="userData.name"
                name="name"
                maxlength="30"
                required
              />
              <h5>
                <small
                  ><span id="textarea-limited-message" class="pull-right">
                    <div *ngIf="!userData.name">残文字数 30</div>
                    <div *ngIf="userData.name">
                      残文字数 {{ 30 - userData.name.length }}
                    </div>
                  </span></small
                >
              </h5>
            </div>

            <div class="form-group">
              <label>Email <span class="icon-danger">*</span></label>
              <input
                type="text"
                class="form-control border-input"
                placeholder="メールアドレス"
                [ngModel]="userData.email"
                name="email"
                required
              />
            </div>

            <div class="form-group">
              <label>自己紹介</label>
              <textarea
                type="text"
                class="form-control textarea-limited"
                placeholder="自分の魅力をPRすることができます。"
                [(ngModel)]="userData.description"
                name="description"
                rows="10"
                maxlength="2000"
              ></textarea>
              <h5>
                <small
                  ><span id="textarea-limited-message" class="pull-right">
                    <div *ngIf="!userData.description">残文字数 2000</div>
                    <div *ngIf="userData.description">
                      残文字数 {{ 2000 - userData.description.length }}
                    </div>
                  </span></small
                >
              </h5>
            </div>

            <div class="form-group">
              <label>パスワード変更</label>
              <div>
                <a
                  class="btn btn-primary btn-link"
                  [routerLink]="['/user/password']"
                >
                  パスワードを変更する
                </a>
              </div>
            </div>

            <div class="form-group">
              <label>ホームページURL</label>
              <input
                type="text"
                class="form-control border-input"
                placeholder="https://www.○○○○.com"
                [(ngModel)]="userData.homepage"
                name="homepage"
              />
            </div>

            <div class="form-group">
              <label>Twitter ID</label>
              <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-twitter"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="userData.twitter"
                  name="twitter"
                  placeholder="Twitter ID（@は不要）"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                />
              </div>
            </div>

            <!-- <div class="space-top"></div>
            <label>通知</label>
            <ul class="notifications">
              <li class="notification-item">
                ニュースレター＆クーポン
                <bSwitch
                  [(ngModel)]="userData.newsletter"
                  name="newsletter"
                  [switch-on-color]="'primary'"
                  [switch-off-color]="'primary'"
                ></bSwitch>
              </li>
            </ul> -->
            <div class="space-top"></div>
            <div class="text-center">
              <button
                [disabled]="!(userForm.valid && userForm.dirty && !isClicked)"
                type="submit"
                class="btn btn-primary btn-lg btn-round btn-wd"
              >
                更新する
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-link" (click)="logout()">
          ログアウトする
        </button>
      </div>
    </div>
  </div>
</div>
