<div class="section">
  <div class="container" *ngIf="userData">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">{{ error.detail }}</p>
        </div>
        <div class="space-50"></div>
        <h3>{{ userData.name }}さんのマイページ</h3>
        <form
          class="settings-form"
          #userForm="ngForm"
          (ngSubmit)="updateUser(userForm)"
        >
          <p>現在のプラン</p>
          <div
            class="card"
            data-background="image"
            Style="
                background-image:url(assets/img/thumbnail/3.jpg)
              "
          >
            <div class="card-body">
              <h4 class="card-title">満足プラン</h4>
            </div>
          </div>
          <div class="text-center">
            <a
              [routerLink]="['/plan']"
              class="btn btn-outline-success btn-lg btn-wd"
            >
              プランを変更する
            </a>
          </div>
          <div class="space-top"></div>

          <div class="form-group">
            <label>パスワード変更</label>
            <div>
              <a
                class="btn btn-success btn-link"
                [routerLink]="['/user/password']"
              >
                パスワードを変更する
              </a>
            </div>
          </div>

          <!-- <div class="space-top"></div>
            <label>通知</label>
            <ul class="notifications">
              <li class="notification-item">
                ニュースレター＆クーポン
                <bSwitch
                  [(ngModel)]="userData.newsletter"
                  name="newsletter"
                  [switch-on-color]="'primary'"
                  [switch-off-color]="'primary'"
                ></bSwitch>
              </li>
            </ul> -->
          <div class="space-top"></div>
        </form>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-success btn-link" (click)="logout()">
        ログアウトする
      </button>
    </div>
  </div>
</div>
