<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-xs"
    [ngStyle]="{
      'background-image': 'url(assets/img/thumbnail/' + 10 + '.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">{{ title }}</h1>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <app-blog-chat
            [character]="2"
            [message]="'ChatGPTを試したけど、結局よくわからなかった'"
          ></app-blog-chat>
          <app-blog-chat
            [character]="5"
            [message]="
              '何かすごいことを期待したけれど、特に何も得るものがなかった...'
            "
          ></app-blog-chat>

          <div class="space-top"></div>
          <p>
            世間で騒がれているからChatGPTに実際に登録して使ってみたけれど、ただのチャットボットとの違いがよくわからなかった、それは<span
              class="text-primary"
              >ChatGPTの本来の能力を引き出す使い方</span
            >が出来てないからかもしれません。
          </p>
          <div class="space-top"></div>
          <p>
            ChatGPTは<span class="text-primary"
              >「プロンプト」と呼ばれる質問文や指示文</span
            >を使うことによって、プロンプトを使わない場合とは<span
              class="text-primary"
              >全く異なる返答</span
            >が得られるようになります。<br />プロンプトがいかに大切か、まずは一度体験してみてください。
          </p>
          <br />
          <p>
            手順は簡単！このカードを押してそのプロンプト（指令文）をコピー、利用手順通りにChatGPTに送信するだけです。
          </p>
          <div class="row">
            <div class="col-11 col-sm-10 col-md-9 col-xl-7 ml-auto mr-auto">
              <div class="space-top"></div>
              <app-list-card [prompt]="prompt"></app-list-card>
            </div>
          </div>
          <br />
          <p>
            プロンプトの力に驚かれること間違いなしです。これをきっかけにChatGPTを使いこなしてみてください。
          </p>
        </div>
      </div>
      <div class="text-center" *ngIf="!auth.isAuthenticated()">
        <div class="space-50"></div>
        <p>\ 今すぐ無料会員登録してプロンプトをGet! /</p>
        <a [routerLink]="['/register']" class="btn btn-round btn-wd btn-primary"
          >無料会員登録する</a
        >
      </div>
    </div>
  </div>
</div>
