<div
  class="page-header"
  style="background-image: url('./assets/img/bg/tressure-map.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <h1 class="title">404</h1>
      <p><strong>Page not found.</strong></p>
      <p>ページが見つかりませんでした。</p>
      <div class="discover-pages">
        <!-- 活用事例 -->
        <h2>活用事例で学ぶ</h2>
        <br />
        <div class="row">
          <div class="col-md-12">
            <a
              type="button"
              class="btn btn-sm btn-neutral btn-round mr-2 mb-2"
              [routerLink]="['/blog/english']"
            >
              英会話の練習をしたい時に
            </a>
            <a
              type="button"
              class="btn btn-sm btn-neutral btn-round mr-2 mb-2"
              [routerLink]="['/blog/self-compassion']"
            >
              自分について深く知りたい時に
            </a>
            <a
              type="button"
              class="btn btn-sm btn-neutral btn-round mr-2 mb-2"
              [routerLink]="['/blog/mail-communication']"
            >
              文章の誤字脱字を減らしたい時に
            </a>
            <a
              type="button"
              class="btn btn-sm btn-neutral btn-round mr-2 mb-2"
              [routerLink]="['/blog/how-to-use-prompt']"
            >
              ChatGPTを使いこなせてないと感じたら
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="space-top"></div>
    <div class="container-cards">
      <h2>公式Twitter</h2>
      <br />
      <div class="social-buttons">
        <a
          class="btn btn-just-icon btn-lg btn-outline-neutral"
          href="https://twitter.com/copy_prompt"
          target="_blank"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <div class="space-50"></div>
    <p>\ お気に入りのプロンプトを探そう /</p>
    <a class="btn btn-primary btn-round btn-move-right" [routerLink]="['/']">
      <i class="nc-icon nc-minimal-right"></i>&nbsp; トップページへ戻る
    </a>
  </div>
</div>
