<div class="space-50"></div>
<div
  class="page-header page-header-xs"
  style="background-image: url('./assets/img/thumbnail/2.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <h1 class="title">{{ title }}</h1>
    </div>
  </div>
</div>

<!--     *********     Detail info     *********      -->
<div class="section section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="space-top"></div>
        <p>
          「仕事で大事なメールを送った後に、誤字・脱字に気づいてしまった。。」<br />
          「メールでの文章の言い回しが上手くできてなかったことで、取引先や上司の機嫌を損ねてしまった。。」<br />
          といった経験はありませんか？
        </p>
        <div class="space-top"></div>
        <p>
          自分が書いた文章の誤字脱字や違和感をチェックしたいときは、<span
            class="text-primary"
            >「修正さん」</span
          >を使うことで、あなたの作った文章をワンクリックで<span
            class="text-primary"
            >綺麗に整えて</span
          >くれます！
        </p>
        <br />
        <p>
          例えば以下の文章をみてみましょう。<br />間違いが赤字になっているので目につきますが、自分が書くと見落としてしまいそうですよね。
        </p>
        <div class="card card-just-text no-transition" data-radius="none">
          <div class="card-body">
            <h5 class="card-category">誤字脱字がある例文</h5>

            <h5 class="card-description">
              恐れ入りますが、また明日に
              <span class="text-primary">なりまして</span>
              お電話のお時間をご連絡
              <span class="text-primary">せていただきますので</span>
              引き続きどうぞよろしくお願い致します。
            </h5>
          </div>
        </div>

        <div class="space-top"></div>
        <p>
          直すと案外時間がかかってしまう文章も修正さんに入力、「修正スタート」ボタンをワンクリックするだけであっという間に誤字脱字を直してくれます。
        </p>

        <div class="text-center">
          <a
            [routerLink]="['/tutorial']"
            class="btn btn-lg btn-link btn-success"
            >修正さんの使い方はこちら</a
          >
        </div>

        <p>
          「修正スタート」ボタンを押してから１秒足らずで以下の返答がきました。
        </p>
        <div class="card card-just-text no-transition" data-radius="none">
          <div class="card-body">
            <h5 class="card-category">修正前</h5>

            <p class="card-description">
              恐れ入りますが、また明日に
              <span class="text-primary">なりまして</span>
              お電話のお時間をご連絡
              <span class="text-primary">せていただきますので</span
              >引き続きどうぞよろしくお願い致します。
            </p>
            <h5 class="card-category">↓</h5>

            <h5 class="card-category">修正後</h5>

            <p class="card-description">
              恐れ入りますが、明日に改めてお電話のご連絡のお時間をお知らせいたしますので、引き続きどうぞよろしくお願いいたします。
            </p>
          </div>
        </div>

        <div class="space-top"></div>
        <p>いかがでしょうか。一気に洗練された文章になりました。</p>
        <p>「修正さん」で誤字脱字、文章の違和感を一気に減らしてみませんか？</p>
      </div>
    </div>
    <div class="space-top"></div>
    <div class="text-center">
      <p>\ さっそく誤字脱字を修正しよう /</p>
      <a [routerLink]="['/']" class="btn btn-wd btn-success">修正しに行く</a>
    </div>
  </div>
  <div class="space-top"></div>
</div>
