<div class="wrapper">
  <div
    class="page-header page-header-xs"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">{{ title }}</h1>
        <h5 class="description">Prompt Manual</h5>
      </div>
    </div>
  </div>
  <div class="section section-nude section-icons">
    <div class="text-center">
      <a
        class="btn btn-primary btn-round btn-move-right"
        [routerLink]="['/blog/tutorial']"
      >
        <i class="nc-icon nc-minimal-right"></i>&nbsp;
        プロンプトの使い方はこちら
      </a>
      <div class="space-top"></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="icons-nucleo">
            <i class="second-left-icon nc-icon nc-diamond animated"></i>
            <i
              class="third-left-icon nc-icon nc-lock-circle-open add-animation"
            ></i>
            <i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
            <i class="fifth-left-icon nc-icon nc-zoom-split add-animation"></i>
            <i
              class="seventh-left-icon nc-icon nc-favourite-28 add-animation"
            ></i>
            <i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
            <i class="ninth-left-icon nc-icon nc-bulb-63 add-animation"></i>
            <i class="tenth-left-icon nc-icon nc-istanbul add-animation"></i>
          </div>
        </div>
        <div class="col-md-8">
          <h2 class="title text-center">プロンプトとは？</h2>
          <br />
          <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel id="config-panel-one">
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    プロンプトとは？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                プロンプトは、チャットGPTから理想とする回答が得られやすくなるための文章のことをいいます。
                例えば「あなたはネイティブの英会話講師で、私は生徒です。」といった事前情報をチャットGPTとの
                会話を始める前に送信することで、チャットGPTは事前情報を元に、あなたと会話してくれるようになります。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    ChatGPTでのプロンプトの役割は？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                プロンプトを使うことでChatGPTは会話や文章の続きを生成する際に、適切な文脈を把握しやすくなります。また、プロンプトはChatGPTが生成するテキストの内容や形式を制御し、特定の目的に応じた応答を生成するように指示する役割もあります。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    プロンプトはなぜ重要？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                前項の通り、プロンプトを使うことによって、事前に送られたプロンプトを元にしながら、
                以後の問いかけに対して返答文が生成されます。
                プロンプトを使うことで、ChatGPTにロールモデルを演じてもらえるだけでなく、
                回答の答え方に関しても、指定することができます。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    ChatGPTのプロンプトテンプレートとは何？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                チャットGPTのプロンプトテンプレートは、特定の目的やタスクに沿った形式で設計され、ChatGPTに対して明確な指示を与えるために使用されます。例えば、質問に対する回答を求める場合には、「〜です。〜ます。」という形式の質問文がプロンプトテンプレートとして使用されます。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    修正さん（あつプロ）とは何ですか
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                「修正さん」とは、ChatGPTを活用するための特別なプロンプト（指示）をまとめたサイトです。
                良いプロンプトをゼロから考えて作るのは大変ですが、本サイトでは面白いプロンプトがたくさん公開されてますので、
                役立ちそう、面白そうと思ったプロンプトをコピーしてChatGPTに送信するだけで、
                普段、チャットGPTに質問する時とはまた違った回答を得られるようになります。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    Copilot、Geminiの違いは何？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                ChatGPT、Copilot、Geminiは、すべてAIチャットボットですが、それぞれ違いがあります。<br />
                ChatGPT:
                自然言語処理に特化したモデルであり、会話生成や文章生成などのタスクに使用されます。<br />
                Copilot:
                プログラミング補助ツールであり、コードの自動補完や提案を行います。開発者がコードを書く際に効率化や品質向上を図ります。<br />
                Gemini:
                Google検索との連携により、より深い情報へのアクセスが可能。<br />
                これらは、それぞれ異なるデータやタスクに特化しており、異なる技術とアプローチを用いています。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    ChatGPTの得意なことは何？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                ChatGPTの得意なことは、自然な会話や文章生成、質問応答などです。
                元々大規模なデータから学習しているのこともあり、幅広いトピックに対応することができます。
                例えばプログラミングのエラーで躓いてしまった時にもChatGPTに質問することで、理想とする回答へ素早くアクセスすることも可能です。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    ChatGPTの不得意なことは何？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                ChatGPTは、LLM（大規模言語モデル）という概念を用いることで、
                例えば「猿も木から＿_」としたら、「＿_」の部分に入る確率が高いものを返答することができます。
                これにより、例えば「おはよう」といったら「おはよう」と返すといった日常の何気ない会話のルール、
                こう言われたらこう返す。を実現します。<br />
                この学習が進んでいくことにより、専門家が持つような知識にも対応し、
                プログラムのエラーメッセージと解決してほしい旨を伝えると、一瞬で回答を生成してくれたり、
                英語の文章をネイティブ視点で直してくれたりなど、幅広い使い方ができるようになります。<br />
                その一方で、回答文は、あくまでも「こういう質問に対してはこう答えると正しい可能性が高い」
                といった方法での回答となるので、人と同じように間違えることもありますし、間違った情報を学習してしまうことで、
                間違った回答をしてしまうこともあります。<br />
                そういった意味では、100%正しい答えが必ずしも得られないので、ミスが許されないような部分で使うことは避けた方が良いと言えます。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    AIには限界がある？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                チャットGPTで採用されているLLM（大規模言語モデル）と呼ばれる生成AIに関しては、
                元々実在している様々なデータを大量に学習し、「質問」に対して「最もらしい」ものを回答を生成します。<br />
                学習させるデータの質が良ければ、質の良い回答を生成できるものの、「発明」することはできません。
                「偶然から何かを見つける」「ひらめく」ということは、現時点では人間しかできないということです。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    ChatGPTの信憑性
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                ChatGPTは大規模なデータセットから学習し、一般的なパターンを捉えますが、誤った情報を含む可能性もあります。<br />
                情報が本当に正しいものなのか、信頼性を確保するために一次情報を確認することが大切です。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    情報漏洩・セキュリティ
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                ChatGPTは学習に使用されたデータを元に応答を生成しますが、個人情報などの機密データを含む場合、情報漏洩のリスクがあります。<br />
                機密情報などは入力しないことが賢明といえます。
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <h5 class="mb-0 panel-title">
                  <a class="collapsed">
                    ChatGPTに個人情報・機密情報の送信はしないほうがいいの？
                    <i class="nc-icon nc-minimal-down"></i>
                  </a>
                </h5>
              </ng-template>
              <ng-template ngbPanelContent>
                前項と同じ理由から、個人情報や機密情報の送信は避けた方が良いでしょう。<br />
                ChatGPTは一般的な文章生成のために設計されており、個人情報や機密情報の取り扱いには適していません。<br />
                これらの情報を送信すると、プライバシーやセキュリティに関するリスクが高まります。
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <div class="space-50"></div>
          <div class="text-center">
            <a
              class="btn btn-lg btn-primary btn-round btn-move-right"
              [routerLink]="['/']"
            >
              <i class="nc-icon nc-minimal-right"></i>&nbsp; トップへ戻る
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="icons-nucleo">
            <i class="second-right-icon nc-icon nc-palette animated"></i>
            <i class="third-right-icon nc-icon nc-bell-55 add-animation"></i>
            <i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
            <i class="fifth-right-icon nc-icon nc-map-big add-animation"></i>
            <i
              class="seventh-right-icon nc-icon nc-simple-add add-animation"
            ></i>
            <i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
            <i class="ninth-right-icon nc-icon nc-hat-3 add-animation"></i>
            <i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
